[general]
log_path = logs/
log_filename = regulator.log

[mqtt]
host = 127.0.0.1
port = 1883

[homeassistant]
host = http://homeassistant:8123/
token = API_TOKEN

[volkszaehler]
host = http://volkszaehler:8080
